.popup-big-image__photo {
    width: 433px;
    height: 540px;
    object-fit: cover;
}

@media screen and (max-width: 650px) {
    .popup-big-image__photo {
        width: 240px;
        height: 299px;
    }
}