.popup-big-image__modal {
    position: relative;
    width: 816px;
    min-height: 562px;
}

@media screen and (max-width: 1279px) {
    .popup-big-image__modal {
        max-width: 75vw;
        max-height: 75vh;
    }
}

@media screen and (max-width: 450px) {
    .popup-big-image__modal {
        width: 240px;
        min-height: 320px;
    }
}